
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Turkey Trot - Advocates for Free-Range Turkeys</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="cover.css" rel="stylesheet">
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Advocates for Free-Range Turkeys</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="home.html">Home</a></li>
                  <li class="active"><a href="about_us.html">About Us</a></li>
                  <li><a href="map.html">Map</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
			<h1 class="cover-heading">About Advocates for Free-Range Turkeys</h1>
			<img src="turkey.png">
			<p class="lead">We love turkeys! Especially eating them! We feel that when turkeys are allowed to roam freely, they taste much better. Our organization is fighting to end mass turkey farms and to gain better living environments for our fine-feathered friends.</p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Created for <a href="http://csuniv.edu/news/40under40-sessions.html">Dr. Sessions, PhD and billionaire</a>, by <a href="http://csuniv.edu/">Charleston Southern</a> students.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </body>
</html>
